.title img {
  width: 0.93rem;
  height: 0.40rem;
}

section {
  margin-top: 1.42rem;
}

section .car_img { 
  width: 4rem;
  height: 1.65rem;
}

section .car_img img {
  width: 100%;
}

section ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.18rem;
}

section ul li .car_name {
  height: .21rem;
  margin: 0.38rem auto 0.26rem auto;
}

section ul li .car_name img {
  height: 100%;
}


section ul li .car_mes {
  width: 1.03rem;
  height: 0.19rem
}

section ul li .car_mes img {
  width: 100%;
}

section .more {
  display: block;
  color: #fff;
  font-size: 0.23rem;
  text-align: center;
  line-height: 1.8;
  margin-bottom: 0.66rem;
}