.title img {
  width: 0.93rem;
  height: 0.40rem;
}
.title{
  margin-top: 1.2rem;
}
header{
  position: fixed;
  width: 100%;
}
section {
  margin-top: 1rem;
}

section ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1.18rem;
}

section .car_img {
  width: 2.8rem;
  height: 1.65rem;
  margin-right: .4rem;
}

section .car_img img {
  width: 100%;
}



section ul li .car_name {
  width: 1.5rem;
  margin: 0.38rem auto 0.26rem auto;
}

section ul li .car_name img {
  width: 100%;
}


section ul li .car_mes {
  width: 1.03rem;
  height: 0.19rem
}

section ul li .car_mes img {
  width: 100%;
}

section .more {
  display: block;
  width: 80%;
  padding: .2rem;
  margin: 0.66rem auto;
  color: #fff;
  font: 0.26rem/1.8 normal;
  text-align: center;
  border: 1px solid red;
  border-radius: .1rem;

}