body {
  position: relative;
  height: 100vh;
}

.title img {
  width: 0.53rem;
  height: 0.52rem;
  opacity: 0.5;
}

section {
  margin-top: 1.88rem;
}

section .banner_wrap .swiper-container {
  width: 100%;
  /* height: 2.71rem; */
}

section .banner_wrap .swiper-container img {
  width: 100%;
}

section .swiper-button {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.18);
  border-radius: 0.06rem;
  padding: 0.3rem 0.2rem;
  background-size: 50%;
  top: 40%;
}

section .swiper-button-prev {
  background-image: url('../images/history/left.svg')
}

section .swiper-button-next {
  background-image: url('../images/history/right.svg')
}


.swiper-pagination {
  padding-left: 0.25rem;
  text-align: left !important;
  position: absolute;
  bottom: 0.32rem !important;
  left: 0rem;
  color: #B5B5B5;
  font-size: 0.22rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


.down_wrap {
  width: 0.34rem;
  height: 0.36rem;
  position: absolute;
  bottom: 0.32rem;
  right: 0.25rem;
  z-index: 100;
}

.down_wrap img {
  width: 100%;
}