@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  .footer_wrap {
    margin-top: 0.34rem;
    margin-bottom: 0.34rem;
  }

  /* body {
    padding-bottom: 1rem;
  } */

  section {
    margin-top: 0.8rem;
  }
}