/*
@supports (bottom: env(safe-area-inset-bottom)) {
  .footer_wrap {
    margin-bottom: env(safe-area-inset-bottom);
    position: fixed;
    left: 0;
    bottom: 0;
  }
}
*/

@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  .footer_wrap {
    position: fixed;
    left: 0;
    bottom: 0;
  }
  section {
    margin-top: 1.2rem !important;
  }
}

.title img {
  width: 0.63rem;
  height: 0.63rem;
}

section {
  margin-top: 0.23rem;
}

.navbtn {
  position: relative;
  width: 6.4rem;
  height: 8.69rem;
  background: url("../images/mapbg.png") no-repeat;
  background-size: 100%;
  margin: 0 auto;
}

section .navbtn>p {
  width: .8rem;
  height: 1.51rem;
  position: absolute;
  padding-top: 0.5rem;
  text-align: center;
  color: #F7F7F7;
  font-size: 0.2rem;
  background: no-repeat center center;
  background-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

section .navbtn>p:nth-child(1) {
  background-image: url('../images/map/grey.png');
  left: 1.4rem;
  top: 5.9rem;
}

section .navbtn>p:nth-child(2) {
  background-image: url('../images/map/red.png');
  left: 5.5rem;
  top: 2.7rem;
}

section .navbtn>p:nth-child(3) {
  background-image: url('../images/map/red.png');
  left: 4.3rem;
  top: 4.89rem;
}

section .navbtn>p:nth-child(4) {
  background-image: url('../images/map/red.png');
  left: 5.1rem;
  top: 5.5rem;
}

section .navbtn>p:nth-child(5) {
  background-image: url('../images/map/red.png');
  left: 5.43rem;
  top: 6.4rem;
}

.footer_wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

.footer_wrap ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: top;
  -ms-flex-align: top;
  align-items: baseline;
}

.footer_wrap ul li {
  font-size: 0.15rem;
  line-height: 1.5;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 18%;
  background: url('../images/map/redline.png') no-repeat right center;
  background-size: .02rem .7rem;
}

.footer_wrap ul li:last-child {
  background: none;
}

.footer_wrap ul li:nth-child(1) img {
  width: 0.75rem;
  height: 0.3rem;
}

.footer_wrap ul li:nth-child(2) img {
  width: 0.45rem;
  height: 0.486rem;
}

.footer_wrap ul li:nth-child(3) img {
  width: 0.49rem;
  height: 0.49rem;
}

.footer_wrap ul li:nth-child(4) img {
  width: 0.56rem;
  height: 0.37rem;
}

.footer_wrap ul li:nth-child(5) img {
  width: 0.45rem;
  height: 0.45rem;
}