.tittle{
  background-image: url('../images/t_write.svg')
}
section ul {
  height: 6.31rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: space-around;
}

section ul li h6 {
  font-size: 0.26rem;
  margin-bottom: 0.17rem;
}

section ul li input,
section ul li select {
  width: 4.61rem;
  height: 0.65rem;
  border: 1px solid #868686;
  background: transparent;
  font: 0.20rem 'w3';
  text-indent: 0.20rem;
  color: #636363;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

section ul li select {
  -webkit-appearance: none;
  background: url('../images/downArrow.svg') no-repeat 4rem center;
  background-size: 0.42rem 0.20rem;
}

select option {
  background: #00060f;
}

.next {
  height: 0.635rem;
  background: url('../images/button.svg') no-repeat center center;
  background-size: 2.83rem 0.635rem;
  text-align: center;
  line-height: 0.635rem;
  margin-top: 1.8rem;
}